/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* GLOBAL */

:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 55%;
    background-color: var(--very-dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    font-family: Raleway;
    font-weight: 400;
}

/* MAIN */

main {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.first {
    display: inline-block;
    background-color: var(--dark-blue);
    padding: 40px 120px 30px 40px;
    border-radius: 10px;
    border-top-right-radius: 90px;
    margin-right: 25px;
}

#logo {
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.icon-back {
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    background-color: var(--dark-blue);
    padding: 40px;
    border-radius: 10px;
    color: var(--pale-blue);
    position: relative;
}

h1 {
    font-size: 1em;
    font-weight: 400;
}

h1 span {
    font-weight: 700;
}

#bar {
    width: 400px;
    height: 15px;
    background-color: var(--very-dark-blue);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#bar div {
    width: 70%;
    background-image: linear-gradient(
        to right,
        hsl(6, 100%, 80%), 
        hsl(335, 100%, 65%)
        );
    height: 80%;
    border-radius: 100px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#circle {
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    background-color: var(--pale-blue) !important;
    background-image: none !important;
    margin-right: 2px !important;
}

.popup {
    background-color: white;
    position: absolute;
    top: -40px;
    right: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--grayish-blue);
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent white transparent transparent;
    bottom: -20px;
    position: absolute;
    right: 0;
}

.bold {
    color: var(--very-dark-blue);
    font-size: 2.5em;
    margin-right: 10px;
}

#marking {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {

    body {
        background-image: url(./images/bg-mobile.svg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    main {
        flex-direction: column;
        width: 80%;
        margin-bottom: 0;
    }

    .first,
    .second {
        width: 100%;
    }

    .first {
        margin-right: 0;
        margin-bottom: 30px;
    }

    #bar {
        width: 100%;
    }

    .popup {
        bottom: -30px;
        right: unset;
        top: unset;
        left: 50%;
        margin-left: -80px;
    }
    
    .triangle {
        display: none;
    }
}
